




<br>
<br>
<br>
<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
<div class="container">

  <div class="row">
    <div class="six columns offset-by-three">
        <h4>Login To Chuckroast</h4>
          <%= form_with url: session_path do |form| %>
            <div class="field">
              <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", class:"u-full-width", value: params[:email_address] %><br>
            </div>
            <div class="field">
              <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password",class:"u-full-width",  maxlength: 72 %><br>
            </div>
            <div class="field">
              <%= form.submit "Sign in" %>
            </div>
              <%= link_to "Forgot password?", new_password_path %>
          <% end %> 
    </div>
  </div>
</div>
