



<section class="product">
    <%= image_tag @product.featured_image if @product.featured_image.attached? %>

    <section class="product-info">
        <% cache @product do %>
        <h1><%= @product.name %></h1>
        <%= @product.description %>
        <% end %>

        <%= render "inventory", product: @product %>

        <nav>
        <% if authenticated? %>
            <%= link_to "Edit", edit_product_path(@product), class: "button button-primary" %>
            <%= button_to "Delete", @product, method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "button button-delete" %>
        <% end %>
        <%= link_to "Back", products_path, class:"button" %>
        </nav>
    </section>


</section>
<br>

